*{
    padding:0;
    margin: 0;
    scrollbar-width:0;
}
*::-webkit-scrollbar{
    display:none;
}
@font-face {
    font-family: myfont;
    src: url("../../assets/Satoshi-Regular.otf");
}
.navbar-container{
    height:4em;
    font-family: myfont;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    border-bottom:1px solid;
    width:100%;
    box-sizing: border-box;
}
.navbar-container .sec1{
     display:flex;
    justify-content:center;
    align-items:center;
    font-weight: 800;
    font-size:1.3em;
}
.navbar-container .sec2{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:70%;
}
.navbar-container .ul-section{
    width:70%;
}
.navbar-container .sec2 .ul-section ul{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:100%;
    flex-wrap:wrap;
}
.menu-bar{
    display:none;
}
.navbar-container .ul>li{
    list-style: none;
    font-size:1.1rem;
    font-weight:500;
}
.navbar-container ul>li:hover{
    color:red;
}
.navbar-container .btn-section{
    display:flex;
    gap:10px;
}
.navbar-container .contact-btn{
    width:8rem;
    height:3rem;
    border-radius:6px;
    border:1px solid;
    background-color:white;
    font-weight: bold;
    font-size:1rem;
    background-color:black;
    color:white;
    transition:.3s ease;
}
.navbar-container .contact-btn:hover{
    color:rgb(0, 0, 0);
    background-color:white;
}
@media (max-width:768px){
    .navbar-container .ul-section{
        display:none;
    }
    .navbar-container{
        justify-content:space-evenly;
    }
    .contact-btn{
        display:none;
    }
    .navbar-container .sec2{
        justify-content:end;
    }
    .menu-bar{
        display:flex;
    }
}
